<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
  <li class="breadcrumb-item active">All logins</li>
</ol>
<table class="table">
  <thead>
    <tr>
      <th>Bank name</th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @logins.each do |login| %>
      <tr>
        <td><%= link_to login.provider_name, login_path(login) %></td>

        <td><%= button_to "Reconnect", reconnect_login_path(login), class: "btn" %></td>

        <% if login.fail_message == "Invalid password." %>
          <td><%= button_to "Refresh", refresh_login_path(login), disabled: true, class: "btn" %></td>
        <% else %>
          <td><%= button_to "Refresh", refresh_login_path(login), class: "btn" %></td>
        <% end %>

        <td><%= button_to "delete", login, method: :delete, class: "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



