<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
  <li class="breadcrumb-item"><%= link_to "All logins", login_index_path %></li>
	<li class="breadcrumb-item active"><%= @current_login.provider_name %></li>
</ol>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>balance</th>
      <th>Currency code</th>
    </tr>
  </thead>
  <tbody>
		<% @accounts.each do |acc| %>
	    <tr>
	      <td><%= link_to acc.name, account_path(acc)  %></td>
	      <td><%= acc.balance %></td>
	      <td><%= acc.currency_code %></td>
	    </tr>
		<% end %>
  </tbody>
</table>